



/* This is my first proper css file */

body{
    background-color: pink;
    max-width: 450px;
    margin: auto;
}

h1{

    color: black;
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: blue;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgba(0, 0, 0, 0.507);
}

.chart{
    background-color: white;
    width:auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(253, 5, 5);
    margin: auto;
}

