body{
  background-color:#f6d6ff ;
  max-width: auto;
  margin: auto;
  text-align: center;
  width: 100%;
}
    

h1{
    size: initial;
    font-size: xxx-large;
    color: rgb(141, 42, 255);
    font-family: 'Anton', sans-serif ;
}

h3{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(141, 42, 255);
font-size: 20px; 
}


.title {
    font-family: 'M PLUS 1 Code', sans-serif;
    color: rgb(141, 42, 255);
    font-size: 25px; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
}
.title1 {
    font-family: 'M PLUS 1 Code', sans-serif;
    color: rgb(141, 42, 255);
    font-size: 25px; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
}

.bold {
    font-weight:bold
}

.purple {
    color: #6b6ad1;
}


.chart { 
    width: auto;
    height: auto;
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #222222 solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
    transition: border-radius 400ms, flex-grow 1000ms;
}



.chart:hover {
    border-color: rgb(141, 42, 255);
    border-radius: 5px;
    flex-grow: 0.1;
  }


.container {
    display: flex;
    font-size: large;
    flex-flow: row wrap;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
}
    
    
      


    

        .box {

          box-sizing: border-box;
          background-color: none;
          width: auto;
          border-radius: 10px;
          padding: 10px;
          text-align: center;
          display: inline-block;
          margin: auto;
          max-width: 800px;
            
        }
        


  


    div.a {
      text-align: center;
    }
    
    div.b {
      text-align: left;
    }
    
    div.c {
      text-align: right;
    } 
    
    div.d {
      text-align: justify;
    }
    #Div01 {
        display: none;
        text-align: center;
    }

    /* Buttons layout */
/* Button Format */
.button-56 {
align-items: center;
margin: 10px;
background-color: rgb(141, 42, 255);
border: 2px solid #111;
border-radius: 8px;
box-sizing: border-box;
color: #111;
font-family: system-ui;
font-size: 16px;
height: 48px;
justify-content: center;
line-height: 24px;
max-width: 100%;
padding: 0 25px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}


.button-56:after {
background-color: #111;
border-radius: 8px;
content: "";
display: block;
height: 48px;
left: 0;
width: 100%;
position: absolute;
top: -2px;
transform: translate(8px, 8px);
transition: transform .2s ease-out;
z-index: -1;
}


.button-56:hover:after {
transform: translate(0, 0);
}


.button-56:active {
background-color: rgb(141, 42, 255);
outline: 0;
}


.button-56:hover {
outline: 0;
}
  


.chart:hover {
  transform: scale(1.04, 1.04);
 
}
#loader {
  position: absolute;
  text-align: center !important;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
}

#one {
  position: absolute;
  border-radius: 50%;
  background: #0a6cff;
  opacity: .0;
  animation: loading 1.4s .65s infinite;
  height: 20px;
  width: 20px;
}

#two {
  position: absolute;
  border-radius: 50%;
  background: #4d0c52;
  opacity: .0;
  animation: loading 1.4s infinite;
  height: 20px;
  width: 20px;
}

 
@keyframes loading {
  0% {
    opacity: .0;
    transform: scale(.15);
    box-shadow: 0 0 2px rgba(black, .1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
    box-shadow: 0 0 10px rgba(black, .1);
  }
  100% {
    opacity: .0;
    transform: scale(.15);
    box-shadow: 0 0 2px rgba(black, .1);
  }
}

#loadermessage {
  position: absolute;
  text-align: center !important;
  left: 46%;
  top: 60%;
  z-index: 1;
  width: 120px;
  height: 120px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: rgb(51, 28, 182);
  font-size: 30px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;
}

#myDiv {
  display: none;
  text-align: center;
}
